/ontology/catalog-v001.xml
/catalog-v001.xml
/.idea/misc.xml
/.idea/modules.xml
/poetry.lock
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
